# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# =========================
# Android
# =========================
android/.gradle/
android/app/build/
android/build/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/build/

# =========================
# Environment files (SECURITY)
# =========================
.env
.env.*
serviceAccountKey.json

# =========================
# Logs & system
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Flutter Web generated JS ONLY
# =========================
build/web/
*.dart.js
*.js.map
*.js.deps
*.info.json